<% link_to("back to list",{:action=>'index'},:class=> 'back-lin')%>
<div class="subjects new">
	<h2>update Subject</h2>
	
<%= form_for(:subject, :url => {
	:action =>'update1',:id=> @subject.id
	})  do |t| %>
	<table>
		<tr>
			<th>Name</th>
			<td><%=t.text_field(:name) %></td>
		</tr>
		<tr>
			<th>
				Position

			</th>
			<td><%= t.text_field(:position)%></td>
		</tr>
		<tr>
		<th>
			Visible
		</th>
			<td>
				<%= t.text_field(:visible)%>

			</td>

		</tr>	

	</table>
	<div class="form-button">
	<%= submit_tag("Update Subject")%>
		
	</div>
	<%end%>


</div>